<div class="card menu-item" data-item-id="{{ item.id }}" data-item-name="{{ item.name }}" data-item-price="{{ item.price }}">
    <h4 class="item-name">{{ item.name }}</h4>
    <p class="item-price">¥{{ "{:,}".format(item.price) }}</p>
    <div class="d-flex justify-content-center align-items-center gap-3">
        <div class="input-group" style="width: 150px;">
            <button class="btn btn-outline-secondary qty-btn" type="button" onclick="changeQuantity('{{ item.id }}', -1)">-</button>
            <span class="form-control text-center fs-5" id="qty-{{ item.id }}">0</span>
            <button class="btn btn-outline-secondary qty-btn" type="button" onclick="changeQuantity('{{ item.id }}', 1)">+</button>
        </div>
        <button class="btn btn-primary add-to-cart-btn" onclick="addToCart('{{ item.id }}')">カートへ</button>
    </div>
</div>